IMClient/Web References/WBS_TalkHistory/WBS_TalkHistory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retTalkHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userId1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="retTalkHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="retTalkHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="retTalkHistorySoapIn">
    <wsdl:part name="parameters" element="tns:retTalkHistory" />
  </wsdl:message>
  <wsdl:message name="retTalkHistorySoapOut">
    <wsdl:part name="parameters" element="tns:retTalkHistoryResponse" />
  </wsdl:message>
  <wsdl:portType name="WBS_TalkHistorySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="retTalkHistory">
      <wsdl:input message="tns:retTalkHistorySoapIn" />
      <wsdl:output message="tns:retTalkHistorySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WBS_TalkHistorySoap" type="tns:WBS_TalkHistorySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retTalkHistory">
      <soap:operation soapAction="http://tempuri.org/retTalkHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WBS_TalkHistorySoap12" type="tns:WBS_TalkHistorySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retTalkHistory">
      <soap12:operation soapAction="http://tempuri.org/retTalkHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WBS_TalkHistory">
    <wsdl:port name="WBS_TalkHistorySoap" binding="tns:WBS_TalkHistorySoap">
      <soap:address location="http://localhost:1111/WEBSERVICE/WBS_TalkHistory.asmx" />
    </wsdl:port>
    <wsdl:port name="WBS_TalkHistorySoap12" binding="tns:WBS_TalkHistorySoap12">
      <soap12:address location="http://localhost:1111/WEBSERVICE/WBS_TalkHistory.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>